*.bak
*.patch
*.tmp

a.out
*.o
*.a
*.so
*.so.*
*.la
*.lo
*.lai
*.Po
*.Plo

# manual sections
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*~

# doxygen generated
dox/
latex/
html/

# docs
podstyle.css
pod2*
man/*.html
*/man/*.html

# executables

build/
debug/
__pycache__